[Unit]
Description=uWSGI Emperor
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/local/uwsgi/bin/uwsgi --ini /usr/local/uwsgi/etc/emperor.ini
PIDFile=/usr/local/uwsgi/var/run/uwsgi.pid
Restart=always
KillSignal=SIGQUIT
ExecReload=/usr/local/uwsgi/bin/uwsgi --reload $MAINPID

[Install]
WantedBy=multi-user.target