[Unit]
Description=The PHP FastCGI Process Manager
After=network.target

[Service]
Type=forking
## PID文件的路径要和php-fpm.conf一致
PIDFile=/usr/local/php/var/run/php-fpm.pid
ExecStart=/usr/local/php/sbin/php-fpm
ExecReload=/bin/kill -USR2 $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target


-----

CentOS7下使用yum下载的php-fpm, systemd的启动脚本是这样的

[Unit]
Description=The PHP FastCGI Process Manager                            
After=syslog.target network.target                                     

[Service]
## 这里是notify, 与之配合的是需要php-fpm.conf中`daemonize`字段设置为no
## 这样在systemctl启动的时候可能会卡住, 但能正常启动
Type=notify
PIDFile=/run/php-fpm/php-fpm.pid
EnvironmentFile=/etc/sysconfig/php-fpm
ExecStart=/usr/sbin/php-fpm daemonize
ExecReload=/bin/kill -USR2 $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target